/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #d0d2d6;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.material-drop-shadow {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.action-button-color {
	background-color: #7267e9;
	border: none;
}
.action-button-color:hover {
	background-color: #8278eb;
}
.action-button-color:focus {
	background-color: #8278eb;
	box-shadow: none;
}
.action-button-color:active {
	background-color: #8278eb !important;
	box-shadow: none;
}

::-webkit-scrollbar {
	background: #171d30;
	width: 15px;
	height: 15px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background: #54596a;
	border-radius: 10px;
}
